nav {
  background-color: #034c8c;
  padding: 1rem;
  display: flex;
}

.educnova {
  width: 40%;
  padding: 2rem 1rem;
  display: block;
  margin: 5px 90px 0 0;
}

a {
  color: #ffffff;
  display: flex;
  padding: 0.2rem;
  margin: 0.3rem;
  text-decoration: none;
}

.sidenav {
  background-color: #034c8c;
  width: 100%;
  height: 100vh;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  transition: 0.3s ease;
}

.sidenav.active {
  right: 0;
}

.sidenav ul {
  list-style: none;
}

.menu_burger {
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
}

.menu_burger span {
  height: 5px;
  width: 90%;
  background-color: #f7f7f7;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 520%;
}

.menu_burger span:nth-child(1) {
  top: 25%;
}
.menu_burger span:nth-child(3) {
  top: 75%;
}
.menu_burger.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu_burger.active span:nth-child(2) {
  opacity: 0;
}
.menu_burger.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.closeBtn {
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  color: #ffffff;
}
