nav {
  background-color: #034c8c;
  width: 200%;
}

.educnova {
  width: 20%;
  padding: 2rem 1rem;
  display: block;
  margin: 0 0 0 95px;
}

a {
  color: #ffffff;
  display: flex;
  padding: 0.2rem;
  margin: 0.3rem;
}
